@import '../sign-in/sign-in.styles.scss';
.react-datepicker-wrapper {
	display: block;
	& > input {
		width: 100%;
	}
}

.form-box-signup {
	@include form-box-style;
	input {
		height: 30px;
		font-size: 15px;
		margin-bottom: 15px;
	}
}