@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/components/navbar.sass";

.logout-button {
	color: #fff;
	border: 2px solid #9557c6;
	background-color: #9557c6;
	font-size: 15px;
	padding: 5px 12px;
	border-radius: 4px;
	outline: none;

	&:hover {
		border: 2px solid #9557c6;
		color: #fff;
		background: transparent;

		@media(max-width: 846px) {
			color: #000;
		}
		
	}
}